.gridItem{
    position: relative;
    display:flex;   
    border:5px solid #ffffff;
    border-radius: 0.5rem 0.5rem 0 0;
    justify-content:flex-end;
    flex-direction: column;
    align-items:center;
    box-shadow: 0 2px 8px 0 rgba(99,99,99,.2);
    overflow: none;
}

.gridItem img{ 
    width:150px;
}
.gridItem span{
    background-color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    padding-block: 5px;
    font-weight: 700;
    text-align: center;
    width:100%;
    background-color: #ffffff;
}

.edit{
    position: absolute;
    right:15px;
    top:-15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    border-radius: 50%;   
    display: visible;
}
.edit img{
    width:30px;
    height:30px;
}
.trash{
    position: absolute;
    right:-25px;
    top:-15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: visble;   
}

.trash img{
    width:30px;
    height:30px;
}
